* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(120deg, #276792da 0%,	#71b0d4 100%);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}
header {
  font-size: 1.5rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
form input,
form button {
  padding: 0.8rem;
  font-size: 1.3rem;
  border: none;
  background: white;
}
form button {
  color: #276792da;
  background: #f7fffe;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background: #276792da;
  color: white;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 250px;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}
.filter-todo {
  padding: 1rem;
}
.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background: #276792da;
  color: white;
  border-top: none;
  border-bottom: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.complete-btn {
  border-right: none;
  border-left: none;
}

.trash-btn {
  border-left-color: #71b0d4;
  border-right: none;
}

.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

/*Delete Animation*/
.fade {
  animation: fade-animation .6s cubic-bezier(.55,-0.04,.91,.94) forwards;
}

@keyframes fade-animation {
  from {
      opacity: 1;
      transform: scale(1);
  }

  to {
      opacity: 0;
      transform: scale(0);
  }

}
/*End Delete Animation*/

/*CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

/* Custom Select */
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: #276792da;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 12rem;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: #276792da;
  cursor: pointer;
  pointer-events: none;
  transition: all 0.3s ease;
}

.select:hover::after {
  background: white;
  color: #276792da;
}


@media(orientation: portrait) {

  form input {
      width: 40%;
      border-radius: none;
      margin-left: 1rem;
  }

  select {
      color: #276792da;
      background-color: white;
      width: 10rem;
      border-radius: none;
      min-width: none;
      cursor: pointer;
      padding: 1rem;
  }
}

@media (max-width: 1200px) {
  form input {
      width: 40%;
      border-radius: none;
      margin-left: 1rem;
  }

}



